/* Reset & Global styles */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Colors */
	--clr-red: hsl(4, 100%, 67%);
	--clr-darker-blue: hsl(234, 29%, 20%);
	--clr-lighter-blue: hsl(235, 18%, 26%);
	--clr-grey: hsl(0, 0%, 58%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-btn-hover: linear-gradient(to right, rgb(227, 41, 97), var(--clr-red));
	/* Typography and Layout */
	--row-gap: 1.5rem;
	--font-base: 1rem;
	--font-family: "Roboto", Arial;
	--font-regular: 400;
	--font-bold: 700;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--font-base);
	font-family: var(--font-family);
	font-weight: var(--font-regular);
	line-height: 1.5;
}

main {
	width: 100%;
	min-height: 100vh;
	background-color: var(--clr-white);
	color: var(--clr-darker-blue);
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--row-gap);
}

/* Images */
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tablet-img,
.desktop-img {
	display: none;
	border-radius: 1rem;
	grid-area: image;
	object-position: right;
}

/* Content */
.content {
	display: grid;
	gap: var(--row-gap);
	padding: 2rem 1.5rem;
}
h1,
h2 {
	font-weight: var(--font-bold);
	font-size: 2.5rem;
	line-height: 1.2;
}

ul {
	list-style: none;
}

li {
	display: flex;
	justify-content: flex-start;
	gap: 0.8rem;
	padding-bottom: 0.3rem;
}
li::before {
	content: url(./assets/images/icon-list.svg);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.3rem;
}

form > label {
	font-weight: var(--font-bold);
	display: flex;
	justify-content: space-between;
}

#error-msg {
	opacity: 0;
	color: var(--clr-red);
	font-size: 0.8rem;
}

form > input {
	border: 1.5px solid lightgray;
}

input::placeholder {
	color: rgb(154, 153, 153);
}

input:focus {
	outline: 2px solid var(--clr-lighter-blue);
	outline-offset: -1.6px;
}

input,
button {
	border-radius: 8px;
	padding: 1rem 1.2rem;
	font-size: 1rem;
}

button {
	background: var(--clr-darker-blue);
	color: var(--clr-white);
	border: none;
	font-weight: var(--font-bold);
	cursor: pointer;
	transition: background 0.2s ease, box-shadow 0.2 ease;
	white-space: nowrap;
	margin-top: 1rem;
}

button:hover {
	background: var(--clr-btn-hover);
	box-shadow: 0px 6px 15px var(--clr-red);
}

input.error,
input.error:focus-visible {
	outline-color: var(--clr-red);
	border-color: var(--clr-red);
	background-color: rgb(255, 214, 221);
	color: var(--clr-red);
}

.success {
	display: none;
	flex-direction: column;
	gap: var(--row-gap);
}

.success img {
	width: 60px;
	height: 60px;
	margin: 1rem 0;
}

.success span {
	font-weight: var(--font-bold);
}

.success > button {
	margin-top: auto;
}

@media (min-width: 37.5rem) {
	.mobile-img {
		display: none;
	}

	.tablet-img {
		display: block;
	}

	main {
		border-radius: 1rem;
		margin: auto;
		max-width: 800px;
		height: fit-content;
		min-height: auto;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "content image";
		padding: 1rem;
	}
	.content {
		grid-area: content;
		height: min-content;
	}

	main.success-state {
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem;
		min-height: max-content;
	}
}

@media (min-width: 64rem) {
	:root {
		--row-gap: 1.2rem;
	}
	body {
		padding: 3rem 0;
		background-color: var(--clr-darker-blue);
		min-height: 100vh;
	}
	.tablet-img {
		display: none;
	}

	.desktop-img {
		display: block;
	}
}
